*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#editH{
  margin-bottom: 30px;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#card-h{
  margin-top:15px;
}
#company{
  font-size: 25px;
  margin-top:20px;
  margin-bottom:15px;
}
#edit-block{
  padding:30px;
}
#main-header{
  font-size: 55px;
  font-weight: bold;
}
#page-d{
  font-size: 30px;
  margin: 0 auto;
  width: 900px;
  margin-top:30px;

}
nav{
  background-image: url('https://images.wallpaperscraft.com/image/single/universe_cosmos_colorful_168900_1280x720.jpg');
  color: white;
  height:100px;
  margin: 0px;
  margin-bottom: 50px;

}
.links{
  color:white;
  
}

.form{
  background-color: white;
  width:800px;
  margin: 0 auto;
  border: 2px solid black;
  margin-top:150px;
  padding-top: 30px;

}
#block{
  font-size: 25px;
}
h1{
  margin:0 auto;
}
#main{
  margin-top: 25px;
}

img{
  margin: 0 auto;
  height: 600px;  
}
#new-job-title{
  margin-bottom:25px;
}
#page-title{
padding-bottom: 25px;
}
#block{
  padding-bottom: 25px;
  margin: 0 auto;
  text-align: center;
}
#job-card{
  border:3px solid black;
  width: 600px;
  text-align: center;
  margin: 0 auto;
  margin-bottom:25px;
  color: rgb(64, 21, 96); 

}
#job-card:hover{
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.detail-buttons{
  margin-top: 30px;
  background-color:rgba(21, 4, 4, 0.5);
}
#job-h{
  font-size: 45px;
}
.box-borders{
  background-image: url('https://images.wallpaperscraft.com/image/single/universe_cosmos_colorful_168900_1280x720.jpg');
  width: 550px;
  margin:0 auto;
  margin-top: 75px;
  padding-top:25px;
  padding-bottom:25px;
  border: 2px solid black;
}
#all-box{
  border: 3px solid black;
  margin: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.box-borders:hover {
  transform: scale(1.1);
  transition-duration: .5s;
  }

#link{
  text-align: center;
  margin-top: 20px;
}
#buttons{
  margin-bottom: 10px;
}
.details{

  margin: 0 auto;
  text-align:left;
  margin-bottom:10px;
  padding-left:30px
}
#details-title{
  font-weight:bold;
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
  margin-bottom:40px;
}
#job-detail{

  width: 500px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 25px;
  color: rgb(67, 7, 101);
  border-radius: 5px;
  border: 2px solid black;
  background-color:white;
  
}
label{
  color: black;
  font-weight: bolder;
  margin-left: 30px;
}
.edit-label{
  color: black;
  padding-bottom: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: black;
  --tan-4: white;
  --orange: black;
  --text-light: #968c84;
  --text-dark: #615954;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tan-4);
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--orange);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--orange);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}
